.button {
    padding: 24px 35px;
    background: #444240;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #444240;
    transition: all 400ms ease;
    cursor: pointer;

    &:hover {
        background: #D4B098;
        border: 2px solid #D4B098;
        // color: #444240;
    }
}