.button {
    padding: 26px 37px;
    background: #444240;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 400ms ease;
    border: none;
    cursor: pointer;

    &:hover {
        background: #D4B098;
    }
}