.footer {
    padding: 70px 0 67px 0;
    background: #444240;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        flex: 25%;
        flex-wrap: wrap;
    }

    &__logo {
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
            padding-left: 2px;
            padding-top: 9px;
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.14em;
            color: #FFFFFF;
        }
    }

    &__phone {
        padding-top: 26px;
        display: block;
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75);
    }

    &__mail {
        display: block;
        padding-top: 12px;
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75);
    }

    &__title {
        padding: 10px 0 22px 0;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__links {
        padding-left: 0;
        list-style: none;

        li {
            margin-bottom: 7px;
        }
    }

    &__link {

        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }



}