.goods {
    padding: 80px 0 85px 0;


    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 33px;
        color: #1B1A17;
        text-align: center;

    }

    &__link {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        display: block;
        text-align: right;
        color: #444240;
        text-decoration: none;
        transition: all 400ms ease;

        &:before {
            content: "";
            width: 101px;
            height: 1px;
            position: absolute;
            bottom: -8px;
            background-color: #C4C0B6;
        }



        &:hover {
            color: #C5B358;
        }
    }


    &__cards {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        padding: 37px 18px 33px 0;
        position: relative;
        background: #FDFDFB;
    }

    &__subtitle {
        margin-left: 35px;
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(27, 26, 23, 0.82);
    }

    &__price {
        margin-left: 35px;
        padding-top: 4px;
        font-family: 'Prata';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(27, 26, 23, 0.82);

        span {
            font-size: 14px;
        }
    }

    &__img {
        padding-left: 17px;
        display: block;
        margin: 0 auto;
    }

    &__info {
        position: relative;
        margin-left: 85px;
        font-family: 'Playfair Display';
        font-size: 16px;
        line-height: 16px;
        color: #1B1A17;
        text-decoration: none;

        &:before {
            content: "";
            width: 30px;
            height: 1px;
            position: absolute;
            left: -50px;
            bottom: 10px;
            background-color: #8B8371;
        }



        &:hover {
            color: #C5B358;
        }

    }
}