@media (max-width: 1220px) {
    .promo__product {
        margin-right: 0;
    }

    .promo__wrap {
        justify-content: space-around;
    }

    .promo__info {
        left: -26.8%;
        right: auto;

        &:before {
            right: -65px;
        }
    }

    .goods {
        padding-bottom: 20px;
    }

    .goods__cards {
        justify-content: space-around;
    }

    .quality__photo {
        margin-left: 0;
    }
}


@media (max-width: 991px) {
    .promo {
        &__title {
            font-size: 36px;
            margin-left: 0;
            padding-top: 180px;

            &::before {
                display: none;
            }
        }

        &__subtitle,
        &__desc,
        &__button {
            margin-left: 0;
        }

        &__watch {
            height: 500px;
        }

        &__price,
        &__info {
            &::before {
                display: none;
            }
        }
    }

    .quality {
        &__photo img {
            width: 100%;
        }

        &__title {
            padding-top: 0;
        }
    }
}


@media (max-width: 767px) {
    .header {
        &__info {
            justify-content: center;
            flex-direction: column;
        }

        &__logo {
            display: block;
            margin: 0 auto;
        }

        &__item {
            padding: 16px 33px;
            font-size: 14px;
        }
    }

    .promo {
        &__title {
            padding-top: 80px;
        }

        &__price,
        &__info {
            display: none;
        }
    }

    .goods__link {
        padding-top: 13px;
        text-align: center;
    }

    .quality {
        &__photo {
            display: flex;
            align-items: center;
        }

        &__desc {
            margin-left: 15px;
        }
    }
}


@media (max-width: 575px) {
    .header {
        &__menu {
            justify-content: space-around;
        }

        &__item {
            padding: 16px 15px;
        }
    }

    .promo {
        padding-bottom: 20px;

        &__wrap {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__price,
        &__info {
            display: block;
            position: relative;
            left: auto;
        }

        &__price {
            text-align: right;
        }

        &__info {
            margin-top: 10px;
            text-align: left;
        }

        &__title {
            padding-top: 35px;
        }
    }

    .quality__card {
        flex-direction: column;
        align-items: center;
    }

    .quality__photo {
        width: 330px;
        margin-bottom: 10px;
    }



}